# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
**/node_modules/
dist/
**/dist/

# next.js
.next/
**/.next/
out/
**/out/

# env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
**/.env*

# production
build/
**/build/

# misc
.DS_Store
*.pem
*.log
.eslintcache
.turbo/
**/.turbo/

# IDE
.vscode/
.idea/
*.swp
*.swo

# typescript
*.tsbuildinfo
next-env.d.ts
